

/*##Configuracion para las tablas##*/
td {
    vertical-align: top;
}



.labelEnlacesUniversal{
    color: blue;     
    cursor: pointer;    
    font-style: italic;
    font-size: 13px;
    font-weight: bolder;    
}

.inputAgregarPopUP{
    width: 90%;
}

/*###Configuracion para los div para agregar registros nuevos*/
.divPopUPAgregar{
    width: 20%;
    /*    margin-left: auto;
        margin-right: auto;*/
    /*z-index: 999;*/
}

.editarElelmento{
    background: url("http://localhost:8080/sistemaColegio/resources/images/borrar.gif") no-repeat center;
    width: 30%;
    display: inline-block;
}

.rowsGeneral{
    height: 35px;
    /*    min-height: 35px;
        max-height: 35px;*/
    padding-bottom: 10px;

}

/*###TABLA PRINCIPAL*/
.colTablaNotasPrincipal-1{
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.colTablaNotasPrincipal-2{
    width: 15%;
    min-width: 15%;
    max-width: 15%;
}

.colTablaNotasPrincipal-3{
    width: 12%;
    min-width: 12%;
    max-width: 12%;
}

.colTablaNotasPrincipal-4{
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.colTablaNotasPrincipal-5{
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}

.colTablaNotasPrincipal-6{
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}

/**COLUMNAS DE LA TABLA QUE TIENE LAS TAREAS**/
.colTablaNotasTareas-1{
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}

.colTablaNotasTareas-2{
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}

.colTablaNotasTareas-3{
    width: 25%;
    min-width: 25%;
    max-width: 25%;
}

.colTablaNotasTareas-3{
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}


/*##TABLAS DE LOS CURSOS###*/
/*++FILAS++*/
.rowCursos{
    height: 35px;
    min-height: 35px;
    max-height: 35px;
}

/*+++COLUMNAS+++*/
.colCursos-1{
    width: 90%;
}

.colCursos-1 label{
    /*width: 100%;*/
}

/*##TABLAS DE LAS ASIGNATURAS##*/
.colAsignaturas-1{
    width: 80%;
}

.colAsignaturas-1 label{
    /*width: 100%;*/
}


/*##TABLAS DE LAS DIMENSIONES##
.rowDimensiones{
    height: 30px;
    max-height: 30px;
}*/

.colDimensiones-1{
    width: 50%;
}


.colDimensiones-2{
    width: 50%
}

.colDimensiones-2 input{
    margin-top: 20%;

}

/*##TABLAS DE LOS PERIODOS*/
.colPeriodos-1{
    width: 70%;
}

.colPeriodos-1 label{
    /*width: 100%;*/
}

/*##TABLAS DE LOS LOGROS*/
.colLogros-1{
    width: 80%;
    min-width: 80%;
    max-width: 80%;
}


.colLogros-1 label{
    min-width: 80%;
    max-width: 80;
    width: 80%;
}


.colLogros-2{
    width: 9%;
    min-width: 9%;
    max-width: 9%;
}