.claseTdCodigo{
    width: 10%;
}
.claseTdNombres{
    width: 60%;
}
.claseTdGrado{
    width: 20%;
}

/*##ACUDIENTES ESCOGIDOS*/
.co1Acudientes{
    width: 17%;
    min-width: 17%;
    max-width: 17%;
}
.co2Acudientes{
    width: 17%;
    min-width: 17%;
    max-width: 17%
}
.co3Acudientes{
    width: 15%;
    min-width: 15%;
    max-width: 15%
}
.co4Acudientes{
    width: 15%;
    min-width: 15%;
    max-width: 15%
}
.co5Acudientes{
    width: 15%;
    min-width: 15%;
    max-width: 15%
}