.claseBorderRadiosBottom{
    border-bottom-left-radius: 5px 5px; 
    border-bottom-right-radius: 5px 5px;
}

.claseBorderRadiosTop{
    border-top-left-radius: 5px 5px; 
    border-top-right-radius: 5px 5px;    
    text-decoration: none;        
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.6);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /*border-top: 1px solid rgba(0, 0, 0, 0.50);*/
    -webkit-user-select: none;
}

.claseBorderButtonShadowUniversal{
    border-bottom-left-radius: 5px 5px; 
    border-bottom-right-radius: 5px 5px;    
    /*    padding: 10px;*/
    color: black;
    text-decoration: none;        
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
}
.claseBorderShadowUniversal{
    /*    border-top-left-radius: 10px 10px;
        -moz-border-radius:10px 10px 10px 10px;
        border-bottom-left-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        border-top-right-radius:10px 10px;*/
    /*padding: 2px;*/
    color: black;
    text-decoration: none;        
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
}

.claseSombrasPopUpUniversal{    
    z-index: 2;
    /*    background: #faf9e6;*/
    background: #fefcf2;
    padding: 10px;
    border-top-left-radius: 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius:10px 10px;
    -webkit-box-shadow: 0px 25px 50px  #505050;
    -moz-box-shadow: 0px 25px 50px #505050; 
}

.claseBordeUniversalRedondear{
    -webkit-border-radius: 6px;
    padding: 10px;
    color: black;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
}