.claseColumnaHiddenByBloquesByNewActividad{
    display: none;
}

.claseFilaTablaAgrupaBlquesByNewActividadesInt{
    width: 14%;
    float: left;
}

.claseMarginTopElementosTablasASeleccionar{
    margin-top: 5px;
    text-align: left;
}

.columna1TablaBloques{
    width: 20%;
}
.columna2TablaBloques{
    width: 80%;
}